# Importing packages

### OBJECTIVES
###### What's the average number of trips we can expect this week?
###### What's the average fare per trip we expect to collect?
###### What's the average distance traveled per trip?
###### How do we expect trip volume to change, relative to last week?
###### Which days of the week and times of the day will be busiest?
###### What will likely be the most popular pick-up and drop-off locations?

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

### Import CSV Files

In [2]:
## Import Files 

#taxi2017 = pd.read_csv(r'C:\Users\brand\Documents\Taxi\taxi_trips\2017_taxi_trips.csv')
#taxi2018 = pd.read_csv(r'C:\Users\brand\Documents\Taxi\taxi_trips\2018_taxi_trips.csv')
#taxi2019 = pd.read_csv(r'C:\Users\brand\Documents\Taxi\taxi_trips\2019_taxi_trips.csv')
taxi2020 = pd.read_csv(r'C:\Users\brand\Documents\Taxi\taxi_trips\2020_taxi_trips.csv')

C:\Users\brand\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Convert csv to pandas DF

In [3]:
### convert files to DataFrame 
#df17 = pd.DataFrame(taxi2017)
#df18 = pd.DataFrame(taxi2018)
#df19 = pd.DataFrame(taxi2019)
df20 = pd.DataFrame(taxi2020)

In [4]:
#df17.columns
#df18.columns
#df19.columns
df20.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [5]:
#df17.dtypes
#df18.dtypes
#df19.dtypes
df20.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [6]:
#df17.head()
#df18.head()
#df19.head()
df20.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-01-01 06:47:28.000,2020-01-01 06:52:54.000,N,1.0,74,75,1.0,1.47,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
1,2.0,2020-01-01 13:25:34.000,2020-01-01 13:30:43.000,N,1.0,74,75,1.0,1.49,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
2,2.0,2020-01-01 14:20:35.000,2020-01-01 14:26:25.000,N,1.0,74,75,1.0,1.31,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
3,2.0,2020-01-02 06:56:47.000,2020-01-02 07:03:03.000,N,1.0,74,75,1.0,1.43,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
4,2.0,2020-01-02 09:34:46.000,2020-01-02 09:41:02.000,N,1.0,74,75,1.0,1.10,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0

# Cleaning Data 
### Remove data that is store  and forward.

In [7]:
def store_and_forward(df):
    df = df[df['store_and_fwd_flag'] == 'N']
    return df

In [8]:
#df17 = store_and_forward(df17)
#df18 = store_and_forward(df18)
#df19 = store_and_forward(df19)
df20 = store_and_forward(df20)

### Only include data on standards rate
##### RatecodeID is 1
### Removing data that is NOT paid by cash or card
##### Payment with cash is type 1, Payment with card in type 2.

In [9]:
def standard_rate(df):
    df = df[df['RatecodeID']==1]
    return df
def payment_cash_card(df):
    df = df[np.logical_or((df['payment_type']==1), df['payment_type'] == 2)]
    return df

In [10]:
#df17 = standard_rate(df17)
#df18 = standard_rate(df18)
#df19 = standard_rate(df19)
df20 = standard_rate(df20)

NumExpr defaulting to 8 threads.

In [11]:
#df17 = payment_cash_card(df17)
#df18 = payment_cash_card(df18)
#df19 = payment_cash_card(df19)
df20 = payment_cash_card(df20)

#### Renaming pickup and dropoff columns. 
#### Changing pickup and dropoff astype to DateTime.

In [12]:
def rename_time(df):
    index = {'lpep_pickup_datetime' : 'pickup',
            'lpep_dropoff_datetime': 'dropoff'}
    df.rename(columns = index, inplace =True)
    return df

In [13]:
#df17 = rename_time(df17)
#df18 = rename_time(df18)
#df19 = rename_time(df19)
df20 = rename_time(df20)

In [14]:
from datetime import datetime

In [15]:
def change_to_datetime(df):
    df.pickup = pd.to_datetime(df.pickup)
    df.dropoff = pd.to_datetime(df.dropoff)
    return df

In [16]:
#df17 = change_to_datetime(df17)
#df18 = change_to_datetime(df18)
#df19 = change_to_datetime(df19)
df20 = change_to_datetime(df20)

In [17]:
#df17.dtypes
#df18.dtypes
#df19.dtypes
df20.dtypes

VendorID                        float64
pickup                   datetime64[ns]
dropoff                  datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

#### Check and make sure datetime only contains data from given year.

In [18]:
def dt_given_year(df,dfyear):
    df = df[df['pickup'].dt.year == dfyear]
    df = df[df['dropoff'].dt.year == dfyear]
    return df

In [19]:
#df17 = dt_given_year(df17,2017)
#df18 = dt_given_year(df18,2018)
#df19 = dt_given_year(df19,2019)
df20 = dt_given_year(df20,2020)

In [20]:
## check if any years other years are present. 
#df17.dropoff.dt.year.value_counts()
#df18.dropoff.dt.year.value_counts()
#df19.dropoff.dt.year.value_counts()
df20.dropoff.dt.year.value_counts()

2020    1154933
Name: dropoff, dtype: int64

#### Remove Data from unknown locations
##### Unknown locations include codes 265 and 264

In [21]:
def remove_unknown_location(df):
    df = df[(df['DOLocationID'] != 265) & (df['DOLocationID'] != 264)]
    return df

In [22]:
#df17 = remove_unknown_location(df17)
#df18 = remove_unknown_location(df18)
#df19 = remove_unknown_location(df19)
df20 = remove_unknown_location(df20)

In [23]:
#df17.DOLocationID.max()
#df18.DOLocationID.max()
#df19.DOLocationID.max()
df20.DOLocationID.max()

263

#### Fill passanger information that is NaN or Null with 1

In [24]:
def fill_passenger_na(df):
    df['passenger_count'] = df['passenger_count'].replace(0,1)
    return df
#df17 = fill_passenger_na(df17)
#df18 = fill_passenger_na(df18)
#df19 = fill_passenger_na(df19)
df20 = fill_passenger_na(df20)

In [25]:
#df17.passenger_count.value_counts()
#df18.passenger_count.value_counts()
#df19.passenger_count.value_counts()
df20.passenger_count.value_counts()

1.0    1004653
2.0      75752
5.0      29663
6.0      20315
3.0      14643
4.0       5052
7.0          1
Name: passenger_count, dtype: int64

#### Swap dates that have a negative time value.

In [26]:
def swap_dates(df):
    ## Calculation error with cannot astype a datetimelike from [datetime64[ns]] to [float64]. Only solution I could find was to  convert date to float. Need to test if this corupt or lost any information. 
    df['pickup'] = df['pickup'].values.astype(float)
    df['dropoff'] = df['dropoff'].values.astype(float)
    #swap values if time is negative. 
    time = df.dropoff < df.pickup
    df.loc[time, ['pickup', 'dropoff']] = df.loc[time, ['dropoff', 'pickup']].values
    #convert float to datetime.
    df['pickup'] = pd.to_datetime(df['pickup'])
    df['dropoff'] = pd.to_datetime(df['dropoff'])
    return df

In [27]:
#df17 = swap_dates(df17)
#df18 = swap_dates(df18)
#df19 = swap_dates(df19)
df20 = swap_dates(df20)

#### Check and remove any time that is longer than 1 day. 
###### converted data into seconds and checked it against 86400 seconds.

In [28]:
def create_ridetime(df):
    df['Ride_time'] = df.dropoff - df.pickup
    df['Ride_time'] = df.Ride_time/np.timedelta64(1,'s')
    df['Ride_time'] = df.Ride_time.astype(int)
    return df

In [29]:
#df17 = create_ridetime(df17)
#df18 = create_ridetime(df18)
#df19 = create_ridetime(df19)
df20 = create_ridetime(df20)

In [30]:
def longer_than_day(df):
    df = df[df['Ride_time'] < 86400]
    return df
#df17 =longer_than_day(df17)
#df18 =longer_than_day(df18)
#df19 =longer_than_day(df19)
df20 =longer_than_day(df20)

#### Check and fix and data in columns fare, taxes, and surcharges negative and if so make them positive.

In [31]:
def make_postive(df):
    df.fare_amount = df.fare_amount.abs()
    df.mta_tax = df.mta_tax.abs()
    df.improvement_surcharge = df.improvement_surcharge.abs()
    return df
#df17 = make_postive(df17)
#df18 = make_postive(df18)
#df19 = make_postive(df19)
df20 = make_postive(df20)

In [32]:
def calc_fare(df):
    df['tripdist'] = 2.5 + (df['trip_distance']*2.5)
    df['fare_amount']= np.where(df['fare_amount'] == 0, df['tripdist'], df['fare_amount'])
    return df
#df17 = calc_fare(df17)
#df18 = calc_fare(df18)
#df19 = calc_fare(df19)
df20 = calc_fare(df20)

In [33]:
def calc_trip (df):
    df['newtrip'] = (df['fare_amount'] - 2.5)/2.5
    df['trip_distance']= np.where(df['trip_distance'] == 0, df['newtrip'], df['trip_distance'])
    return df
#df17 = calc_trip(df17)
#df18 = calc_trip(df18)
#df19 = calc_trip(df19)
df20 = calc_trip(df20)

In [34]:
#df17.head()
#df18.head()
#df19.head()
df20.head()

,VendorID,pickup,dropoff,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Ride_time,tripdist,newtrip
0,2.0,2020-01-01 06:47:28,2020-01-01 06:52:54,N,1.0,74,75,1.0,1.47,6.5,...,0.0,0.0,0.3,7.3,2.0,1.0,0.0,326,6.175,1.6
1,2.0,2020-01-01 13:25:34,2020-01-01 13:30:43,N,1.0,74,75,1.0,1.49,6.5,...,0.0,0.0,0.3,7.3,2.0,1.0,0.0,309,6.225,1.6
2,2.0,2020-01-01 14:20:35,2020-01-01 14:26:25,N,1.0,74,75,1.0,1.31,6.5,...,0.0,0.0,0.3,7.3,2.0,1.0,0.0,350,5.775,1.6
3,2.0,2020-01-02 06:56:47,2020-01-02 07:03:03,N,1.0,74,75,1.0,1.43,6.5,...,0.0,0.0,0.3,7.3,2.0,1.0,0.0,376,6.075,1.6
4,2.0,2020-01-02 09:34:46,2020-01-02 09:41:02,N,1.0,74,75,1.0,1.10,6.5,...,0.0,0.0,0.3,7.3,2.0,1.0,0.0,376,5.250,1.6

In [35]:
def cleanup(df):
    df.drop(['newtrip'], axis=1, inplace=True)
    df.drop(['tripdist'], axis=1, inplace=True)
    df.trip_distance = df.trip_distance.abs()
    return df
#df17 = cleanup(df17)
#df18 = cleanup(df18)
#df19 = cleanup(df19)
df20 = cleanup(df20)

In [36]:
#df17.trip_distance = df17.trip_distance.abs()
#df18.trip_distance = df18.trip_distance.abs()
#df19.trip_distance = df19.trip_distance.abs()
df20.trip_distance = df20.trip_distance.abs()

In [37]:
#df17.to_csv('Taxi 2017', sep = ',')
#df18.to_csv('Taxi 2018', sep = ',')
#df19.to_csv('Taxi 2019', sep = ',')
df20.to_csv('Taxi 2020', sep = ',')